body{
  text-align: center;
  font-family: arial;
}
.logo {
    padding-top: 150px;
    height: 92px;
    width: 272px;
    display: block;
    margin: 0 auto;
}
a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #000;
  font-family: arial;
  font-size: 13px;
  opacity: 0.75;
}
a:hover {
  text-decoration: underline;
}
.search {
  height:34px;
  width:503px;
  margin:23px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
li {
  float: left;
}
button {
  height: 36px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}
button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  line-height: 40px;
}
